* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff !important;
    overflow-x: hidden;

}

li {
    list-style: none;
    text-decoration: none;
}

.backgroundImg {
    position: absolute;
    height: 80vh;
    width: 64vw;
    background: url(https://cdn1.bbcode0.com/uploads/2021/1/18/765efcc504ed753b260504ee20bcc3c5-full.png) no-repeat;
    margin-left: 35vw;
}
