* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff !important;
    overflow-x: hidden;

}

li {
    list-style: none;
    text-decoration: none;
}

.backgroundImg {
    position: absolute;
    height: 100vh;
    width: 1285px;
    background: url("./Images/Scene.png") no-repeat;
    margin-left: 16vw;
}
